header{
    display: flex;
    background-color: green;
    flex-direction: row;
    justify-content: space-between;
}

.left-header{
    display: flex; 
    width: 700px;
    background-color: brown;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.navbar-toggler{
    top: 50%;
    width: 50px; 
    height: 50px; 
    background-color: blue;

    justify-content: center;
    
}

.location{
    align-items: center;
}

