header{
    display: flex;
    background-color: green;
    flex-direction: row;
    justify-content: space-between;
}

.left-header{
    min-width: 300px;
    background-color: brown;

}


.location{
    align-items: center;
    text-align: center;
}

